langchain
python-dotenv
ipykernel
langchain_community
pyPDF
langchain-text-splitters
langchain-openai  
chromadb
sentence_transformers 
langchain_huggingface
faiss-cpu
langchain_chroma
streamlit
langchain_groq 
langchain_core
sse_starlette
pandas
duckdb
duckduckgo_search
pymupdf
arxiv
wikipedia
smolagents
ddgs
